<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HelloWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{1002,1920},{195,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>a-mercury.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{0,0},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b-venus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{452,0},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,419},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>c-earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{0,1501},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>d-mars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{452,1501},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>e-jupiter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{904,1501},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f-saturn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{1356,1501},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g-uranus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{0,1920},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{452,1920},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>h-neptune.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{550,1920},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>i-pluto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{1199,1920},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>j-sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{0,2339},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>k-moon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{452,2339},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>l-asteroid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,417}</string>
                <key>spriteSourceSize</key>
                <string>{450,417}</string>
                <key>textureRect</key>
                <string>{{904,2339},{450,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>astr.png</string>
            <key>size</key>
            <string>{1920,2756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18f564be67690ec29945e8cace181c31:147f8118252fff0504c2a830c518b488:54fd5e6ba2d120c7890e5de31f29d30f$</string>
            <key>textureFileName</key>
            <string>astr.png</string>
        </dict>
    </dict>
</plist>
